{
  "semi": true,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "ignore"
}
